[Desktop Entry]
Version=1.0
Name[en_US]=Obsidian
GenericName[en_US]=Obsidian
Comment[en_US]=Obsidian
Exec=/home/saidler/bin/obsidian
Path=/home/saidler/.local/share/applications/
Icon=/home/saidler/.local/share/applications/.obsidian.png
Terminal=false
Type=Application
Categories=Application
