[user]
	email = scott.a.idler@gmail.com
	name = Scott Idler
[core]
	pager = diff-so-fancy | less --tabs=1,5 -R
[branch]
	autosetupmerge = true
[diff]
	mnemonicprefix = true
[rerere]
	enabled = true
[merge]
	tool = meld
